.blue-leaf {
  top: -1rem;
  left: -1rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  width: 3rem;
  height: 3rem;
  box-shadow: 0rem 0.625rem 1.875rem 0rem #2c82ed66;
  background-image: linear-gradient(40deg, var(--primary-blue) 0%, var(--primary-blue) 100%);
  i {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .blue-leaf {
    display: none !important;
  }
  .dashboard-body-title {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 1000px) {
  #dashboard-featured-leaf {
    left: -0.5rem;
    top: -0.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .dashboard-body-title {
    margin-left: 2rem;
  }
  #dashboard-featured-leaf {
    left: -0.5rem;
    top: -0.5rem;
  }
}
