* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.background-transparent {
  background-color: transparent !important;
  border: none;
  padding: 0.5rem 1.5rem;
}

.text-primary-blue {
  color: #0f5288;
}

.bg-primary-blue {
  background-color: #0f5288;
}

.primary-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// --- dashboard chart page layout ---

.dashboard-chart-page-container {
  display: grid;
  grid-template-columns: 6fr 2.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
  .left {
    background-color: lightblue;
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
  }
  .right {
    background-color: lightgreen;
    grid-area: 1 / 2 / 3 / 3;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard-chart-page-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "left"
      "right";
    .left {
      grid-area: left;
    }
    .right {
      grid-area: right;
    }
  }
}

// === make chart shift a bit to left
.recharts-surface {
  margin-left: -3rem;
}
